.inital-page-main {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 15px;
  gap: 25px 0;
}

.transactions-container {
  width: 100%;
  max-width: 500px;
}

@media only screen and (min-width: 1024px) {
  .inital-page-main {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 50px 60px;
  }
}
